.mod-form {
  display: flex;
  flex-direction: column;
}

.mod-form-item {
  margin-bottom: 2em;
}

.mod-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 10px;
  color: #333;
  &::placeholder {
    color: #b4b4b4;
  }
}

.mod-input-text {
  margin-bottom: 5px;
}

.mod-submit {
  font-weight: 400;
  padding: 0.8em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.mod-form-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #9c855b;
  border-radius: 3px;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mod-link {
  text-decoration: none;
  color: #9c855b;
}
